{% extends 'base.html' %}
{% load static %}

{% block head %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <main>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                         aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#777"/>
                    </svg>

                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Про нас.</h1>
                            <p>Ми авіа-компанія Медівак і надаємо послуги пасажирських авіаперевезень по усьому Сан
                                Андреас.</p>
                            <p><a class="btn btn-lg btn-primary" href="/about">Прочитати більше</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                         aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#777"/>
                    </svg>

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Список рейсів.</h1>
                            <p>Тут ви можете переглянути усі наявні наразі рейси.</p>
                            <p><a class="btn btn-lg btn-primary" href="{% url 'flights' %}">Подивитися список</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                         aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#777"/>
                    </svg>

                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>Контактна інформація.</h1>
                            <p>Усе, що вас цікавить, ви можете запитати у нас.</p>
                            <p><a class="btn btn-lg btn-primary" href="/contacts">Зв'язатись з компанією</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="container marketing">
            <h2 class="text-center">Найпопулярніші рейси</h2>
            <div class="row">
                <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"/>
                    </svg>

                    <h2>Лос Сантос - Сан Фіерро</h2>
                    <p>Переліт між двома найлюднішими містами штату за лічені хвилини.</p>
                    <p><a class="btn btn-secondary" href="{% url 'flight' 1 %}">Переглянути рейс &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"/>
                    </svg>

                    <h2>Лос Сантос - Форт Карсон</h2>
                    <p>За 10 хвилин ми доставимо вас на роботу. Також ми надаємо нічні рейси для вашої комфортності</p>
                    <p><a class="btn btn-secondary" href="{% url 'flight' 2 %}">Переглянути рейс &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"/>
                    </svg>

                    <h2>Сан Фіерро - Лас Вентурас</h2>
                    <p>Після роботи можна й відпочити, тому цей рейс ми запустити саме для відпочинку.</p>
                    <p><a class="btn btn-secondary" href="{% url 'flight' 3 %}">Переглянути рейс &raquo;</a></p>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Їжа. <span class="text-muted">Вона просто неймовірна.</span>
                    </h2>
                    <p class="lead">У наших аеропортах та на бортах смачна та дешева їжа, що доступна кожному та
                        будь-якому гурману!</p>
                </div>
                <div class="col-md-5">
                    <img src="https://rud.ua/uploads/product/big/rud-500%D1%85500-tortuf_5c7d4948711f4.png" alt="food"
                         height="500px" width="500px">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Комфорт. <span
                            class="text-muted">Такого ви ще не бачили.</span></h2>
                    <p class="lead">Наші зали очікування обладнанні найзручнішими кріслами, а під час польоту ви будете
                        себе відчувати ніби у своємо авто.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="https://static.isolux.ru/media/catalog/product/cache/1/image/602f0fa2c1f0d1ba5e241f914e856ff9/b/0/b01e813d734ce0d5b8d173cb7f98f039.jpeg?kar=1&kf=1&kt=1&co=1&rgb%5B0%5D=255&rgb%5B1%5D=255&rgb%5B2%5D=255&ang=ang&qua=90"
                         alt="comfort" height="400px" width="400px">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Ціна. <span class="text-muted">Доступна кожному.</span></h2>
                    <p class="lead">Ми не прагнемо багатства, а якості. Тому наші рейси доступні людям з будь-якими
                        фінансами.</p>
                </div>
                <div class="col-md-5">
                    <img src="https://static3.depositphotos.com/1000244/192/i/600/depositphotos_1923808-stock-photo-500-dollars.jpg"
                         alt="money" height="500px" width="500px">

                </div>
            </div>

            <hr class="featurette-divider">

        </div>

        <footer class="container">
            <p class="float-end"><a href="#">Повернутись наверх</a></p>
            <p>&copy; 2017–2021 Мезідія, Орг.</p>
        </footer>
    </main>
{% endblock %}
