{% extends 'base.html' %}
{% block title %}
    Про нас
{% endblock %}
{% block body %}
    <div class="container text-center pt-5">
        <h1>Про нас</h1>
        <p>Авіакомпанія «Медівак» заснована у 1992 році як національний (базовий) перевізник нової
            незалежної держави. Засновниками Медіваку були Тейдж Меттссон, Артур Менетіл та Олександр Вірний.

            Протягом 15 років роботи «Медівак» вдалося залучити нових стратегічних та фінансових інвесторів. У 1995-му
            державний пакет акцій був переданий Фонду генерально банку Лос Сантона. У 1996-му склад акціонерів МАУ
            поповнили
            авіакомпанії Austrian Airlines та Swissair, а у 2000-му – Західний Банк Реконструкції та Розвитку .</p>
    </div>
{% endblock %}
